/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

/* Fondo */
body {
    background-color: #ffe8a1;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
}

/* Contenedor principal */
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
}

.box_text {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.box_text_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Título */
h1 {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-shadow:    -3px -3px orange,
                    3px 3px orange,
                    -3px 3px orange,
                    3px -3px orange;
}

/* Botón */
button {
    background-color: orange;
    color: brown;
    border: 2px brown solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #e76f51;
}

/* Imagen */
.background-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.background-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Caja de texto */

.text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 28vh;
    max-width: 600px;
    padding: 20px;
}

.box_svg {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.text-box img {
    width: 100%;
    height: auto;
}

.text_fortune_random {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 90%;
    text-align: center;
    color: gray;
}

.text_fortune_author {
    position: relative;
    width: 250px;
    z-index: 1;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
    color: gray;
    background: rgba(255, 255, 255, 0.8);
}


@media (max-width: 400px){
    h1 {
        font-size: 1.9rem;
        color: #FFFFFF;
        text-shadow:    -2px -2px orange,
                        2px 2px orange,
                        -2px 2px orange,
                        2px -2px orange;
    }

    .box_text {
        height: 70vh;
    }
}